body{
    background:linear-gradient(to right ,#7A88FF, #7AFFAF);
}

.as{
        background-color:lightblue;
		width:800px;
        height:200px;
        border-radius: 12px;
        margin-top: 20px;
        margin-left: 180px;
        margin-bottom:40px;
        padding-top:20px;
        padding-left: 10px;
        padding-right: 10px;
		font-size: 90%;
}
header{
        width:900px;
        height:30px;
        font-size: 50px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 20px;
        margin-bottom: 20px;
	padding-bottom:20px;
}
